<%- include("header") -%>

<h2>This is the about page</h2>
<img src="image/mehul2.jpeg" height="100px" width="100px" style = "border-radius: 50%">
<p>This is a toDoList and here MongoDB database has been used for the functioning of the webPage.</p>

<%- include("footer") -%>
